/**********************************     SLIDER      ****************/
/************************ SLIDERS CARDS *********************/
.slider .container-slider {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.slider .main-card {
  flex-basis: clamp(188px,25%, 250px);
}
.slider .main-articles  {
  scroll-behavior: smooth;
  background: rgb(48, 48, 48);
  background: radial-gradient(
    circle,
    rgba(48, 48, 48, 1) 0%,
    rgba(79, 79, 79, 1) 46%,
    rgba(171, 171, 171, 1) 100%
  );
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  align-items: start;
  padding-top: 15px;
  flex-basis: clamp(540px, 70%, 900px);
  height: 450px;
  /* para mobile deberia desaparecer este slider se nota bien hasta 420px*/        
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider  section {  
  scroll-margin-top: 0vh;
  height: 400px;
  padding-inline: 10px;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 200px));
  align-items: center;
  justify-content: center;  
  width: 100%;
  gap: 10px;
}

.slider  article {
  background-color: #f6f6f6;
  border: 1px solid #d2d2d2;        
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  /* para la animacion */
  animation: fancy-in linear both;
  animation-timeline: view(x);

  & img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    object-position: center;
  }

  & h5 {
    color: lightseagreen;
  }

  & p {
    font-size: 12px;
  }

  & a {
    font-size: 12px;
    text-decoration: none;
  }
}

/* card entry/exit animations */
@keyframes fancy-in {
  /* Al entrar cuando se este viendo la card se trasladara 
  25 del ancho de la pantalla */
  0% {
    transform: translateX(25vw);
  }
  /* Cuando este del 20 al 80% no se trasladara y se mostrara
  sin opacidad */
  20%,
  80% {
    opacity: 1;
    transform: none;
  }
  /* Aqui la card se trasladara el ancho de su tamaño para que
  no desaparezca de la pantalla e ira volviendose opaco */
  100% {
    transform: translateX(100%) scale(0.95);
    opacity: 0;
  }
}
/**********************************     SLIDER      ****************/